* {
  background-color:rgb(29, 29, 37);
  color: whitesmoke;
}

img.logo {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

ul.indice {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  margin: 10px;
  font-size: 20px;
}

form {
  text-align: center;
}

.search:hover {
  opacity: 0.6;
}

ul {
  list-style-type: none;
}

img {
  height: 200px;
}
