* {
  background-color:rgb(29, 29, 37);
  color: whitesmoke;
}

img.logo {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

ul.indice {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  margin: 10px;
  font-family: "Oswald";
  font-size: 25px;
  box-sizing: border-box;
  border: solid 10px white;
}

form {
  text-align: center;
  padding: 30px;
}

.search:hover {
  opacity: 0.6;
}

ul {
  list-style-type: none;
}

h1{
  font-family: "Oswald";
  font-weight: 500;
}

p{
  font-family: "Oswald";
  font-weight: 200;
}

p.nombre-peli{
  font-family: "Oswald";
  font-weight: 500;
}

ul.descripcion{
  font-family: "Oswald";
  font-weight: 200;
}

img {
  height: 200px;
}

.footer {
  padding: 30px;
  display: flex;
  flex-direction: row;
  font-family: "Oswald";
  font-weight: 200;
  flex-direction: column;
  align-items: center;
}