* {
  background-color:rgb(29, 29, 37);
  color: whitesmoke;

}
img.logo {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

ul.indice {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  margin: 10px;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 25px;
  box-sizing: border-box;
  border: solid 10px white;
}

form {
  text-align: center;
  padding: 30px;
}

.search:hover {
  opacity: 0.6;
}

ul {
  list-style-type: none;
}

h1{
  font-family: "Oswald";
  font-weight: 500;
}

.pelis-pop {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  font-family: "Oswald";
  font-weight: 200;
}

.portadas-pelispop {
  height: 200px;
  padding-right: 50px;
  padding-left: 50px;
}

.portadas-pelispop:hover {
  height: 220px;
  transition: 0.6s;
}

.series-valoradas {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  font-family: "Oswald";
  font-weight: 200;
}

.portadas-seriesvaloradas {
  height: 200px;
  padding-right: 50px;
  padding-left: 50px;
}

.portadas-seriesvaloradas:hover {
  height: 220px;
  transition: 0.6s;
}

.pelis-masvistas {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  font-family: "Oswald";
  font-weight: 200;
}

.portadas-pelisvistas {
  height: 200px;
  padding-right: 50px;
  padding-left: 50px;
}

.portadas-pelisvistas:hover {
  height: 220px;
  transition: 0.6s;
}

.footer {
  padding: 30px;
  display: flex;
  flex-direction: row;
  font-family: "Oswald";
  font-weight: 200;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 420px) {
  .indice {
    flex-wrap: wrap;
  }

  .header {
    flex-direction: column;
  }

  .search {
    margin: 10px auto;
  }

  h1 { 
    text-align: center; 
  }

  .pelis-pop {
    flex-wrap: wrap;
  }

  .pelis-masvistas {
    flex-wrap: wrap;
  }

  .series-valoradas {
    flex-wrap: wrap;
  }

  .footer {
    text-align: center;
  }
}